.cabecalho{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    background: #bbbbbb;
    height: 4em;
}

.cabecalho_lista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vh;
}

.cabecalho_lista-link{
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}