/* Estilizando cada quadradinho contendo uma receita,
colocando o funto deles, o posicionamento de cada quadradinho de receita
e ajustando os espaçamentos laterais */
.receita {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: calc(25% - 5rem); /*5 rem referente ao espaçamento da direita, para deixar a esquerda com o espaçamento igual*/
}