
/* tirando a cor azul dos links do menu nav */
.menu__link{
    color: #333333;
    padding: .5rem 1rem;
}


/* quando parar o mouse encima do menu 
ele sublinha o item com essa cor e caracteristicas*/
.menu__link:hover, .menu__link.ativo {
    border-bottom: 2px solid #0073e6;
}

