.cabecalhoPrincipal .container{
  display: flex;
  align-items: center; /*Alinhando os itens ao centro do container verticalmente*/
  justify-content: space-between; /* colocando espaço ENTRE os itens, um em cada extremidade do container horizontalmente*/
}

.cabecalhoPrincipal-nav {
  display: flex; /*Deixou o menu de navegação no cabeçalho um ao lado do outro*/
}

.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 75%; /*Aumentando a largura para conseguir alinhar os itens do rodapé*/
}

.rodapePrincipal-contatoForm{
  width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
  display: flex;
}

.rodapePrincipal-navMap-list {
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap; */
  flex-flow: column wrap; /*substitui as duas de cima que estão comentadas em uma única linha*/
  height: 260px; /*No curso pediu 250px mas quebrou na minha resolução atual, então adaptei*/
}

.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
  width: 23%;
  margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n){
  margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1){
  margin-left: 0;
}

.videoSobre .container {
  display: flex;
}

.videoSobre-sobre{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 2; /*Pega o espaço dentro do container sobrando e cresce*/
}

.videoSobre-sobre-list{
flex-grow: 1;/*Desci o botão da sessão "Vantagens do alurinha" dentro do flex, aproveitando o espaço que tinha*/
}

.videoSobre-video {
  flex-grow: 1;
  flex-shrink: 2;  /*Diminui junto com o tamanho da tela*/
}


/* DEIXANDO RESPONSIVO -- MOBILE */
@media(max-width: 768px){
  .cabecalhoPrincipal-nav {
    flex-direction: column;
  }

  .cabecalhoPrincipal .container{
    flex-direction: column;
    align-items: initial;
    text-align: center;
  }

  .conteudoPrincipal-cursos {
    flex-direction: column;
  }

  .conteudoPrincipal-cursos-link {
    width: 100%;
  }

  .rodapePrincipal-navMap-list {
    height: auto;
  }

  .rodapePrincipal-patrocinadores .container{
    flex-direction: column;
    align-items: center;
  }

  .rodapePrincipal-patrocinadores-list{
    margin: 0;
    width: 100%;
  }

  .rodapePrincipal-contatoForm{
    width: 100%;
  }

  .rodapePrincipal-contatoForm-fieldset{
    justify-content: center;
  }

  /* Subindo o ultimo link do nav para o primeiro lugar no mobile, o NOSSO APP */
  .cabecalhoPrincipal-nav-link-app{
    order: -1;
  }

  .videoSobre .container {
    flex-direction: column; /*deixa um item embaixo do outro*/
  }

  .videoSobre-video{
    margin: 0 auto; /*centralizando videos no mobile*/
  }
}

