<header class="app-header">
  <mat-toolbar>
    <img
      src="assets/imagens/logo.png"
      alt="Logo da aplicação Jornada"
      routerLink="/"
      style="cursor: pointer"
    />
    <span class="spacer"></span>
    <!--  -->
    <div class="links-toobar">
      <button mat-button>Vender milhas</button>
      <button mat-button>Sobre</button>
      <!--  -->
      <ng-container *ngIf="user$ | async as pessoaUsuaria; else login">
        <a href="/perfil">
          <img
            src="../../../assets/imagens/user.png"
            alt="Ícone de pessoa usuária"
          />
        </a>
        <button mat-stroked-button (click)="logout()">SAIR</button>
      </ng-container>
      <!--  -->
      <ng-template #login>
        <button routerLink="/cadastro" mat-raised-button color="primary">
          CADASTRE-SE
        </button>
        <button color="primary" routerLink="/login" mat-stroked-button>
          LOGIN
        </button>
      </ng-template>
      <!--  -->
    </div>
  </mat-toolbar>
</header>
