
header {
    background: #BBBBBB;
}

nav li {
    display: inline; /*Alinhando os itens da lista do heade em linha horizontal*/
    margin: 0 0 0 15px; /*deixando a separação entre as opções do header para a esquerda*/
}

nav a{
    text-transform: uppercase; /*deixando o texto do header com letras maúsculas */
    color: #000000; /*retirando a cor azul/roxa que fica no menu de navegação por causa da tag href e o link que vai a seguir*/
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;/*Retirando o sublinhado do menu de navegação(header)*/
}